<%= form_for @routine do |f| %>

Add a New Routine

<br>
<br>
<div class="text">
  Name: <div class="field_with_errors"><%= f.text_field :name %></div><br>
</div>
<br>  
<%= f.submit %>
<% end %>