
<h1> Welcome to your Home Page </h1>

<br>

<%= button_to "Add A Routine", new_user_routine_path(current_user), :method => :get %>

<br>

<% if current_user.routines.empty? %>

There are no routines, please add a new machine via the "Add Routine button".

<%else%>

    <% current_user.routines.each do |x| %>
    Routine Name: <%=link_to x.name, user_routine_path(current_user, x) %><br>
    (<%= link_to "Delete Routine", routine_path(x), :method => :delete %>)
    <br>
    <br>
    <% end %>

<%end%>

