<div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://tul.imgix.net/content/article/muscle-beach-is-coming-to-mission-bay.jpg?auto=format,compress&w=1200&h=630&fit=crop">
  </div>
  <h1 align="center">Welcome to the Gym Rails App</h1>